:root {
    --primary: #d43333;
    --secondary: #20c6d5;
    --light: #f08080;
    --bs-danger: #4545AA;
}

.error {
    color: var(--primary);
}

.info {
    font-size: 40px;
    color: var(--light);
}

.bgDanger {
    background-color: var(--bs-danger);
}